<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238002367713-cq1dbtt5qm9dnv0trmaf6kujqod2ffn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238002367713-cq1dbtt5qm9dnv0trmaf6kujqod2ffn0</string>
	<key>API_KEY</key>
	<string>AIzaSyAd3oMCsUy_M2tg6VFt1us45tzeIcwOZ98</string>
	<key>GCM_SENDER_ID</key>
	<string>238002367713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tys.iostest</string>
	<key>PROJECT_ID</key>
	<string>tys-attendance</string>
	<key>STORAGE_BUCKET</key>
	<string>tys-attendance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238002367713:ios:d2e7f67efaea7bd3481ba0</string>
</dict>
</plist>